.App {
  text-align: center;
  background: #38618C;
  margin-bottom: 2em;
}

table {
  display: flex;
  justify-content: center;
}

tr {
  border: 1px solid black;
}

th {
  border: 1px solid #FFE74C;
  font-size: 2em;
  padding: 0 1em 0 1em;
  background: #DCECF1;
  color: #38618C;
  

}

td {
  border: 1px solid #FFE74C;
  font-size: 1.5em;
  background: #E4F9EF;
  color: #38618C;

}

.changeDay {
  padding: 0 1em;
}

.name {
  padding: 0 2em;
}

h1 {
  color: #FFE74C;
  padding-top: 1em;
}